In [4]:
import pandas as pd 
import scipy
from scipy import stats
import numpy as np

In [ ]:
#null hypothesis H0-all proportions are equal
#alternative hypothesis H1:all proportions are not equal

In [5]:
data=pd.read_csv('BuyerRatio.csv')
data

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [7]:
obv=np.array([[50,142,131,70],[435,1523,1356,750]])

In [11]:
chi_square=scipy.stats.chi2_contingency(obv)
chi_square

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [15]:
chi_square=[['','Test Statistic','p-value'],['Sample data',chi_square[0],chi_square[1]]]
chi_square

[['', 'Test Statistic', 'p-value'],
 ['Sample data', 1.595945538661058, 0.6603094907091882]]

In [ ]:
# α value at 5% L.O.S is 0.05
#from above test we got p value as 0.66 0.66>0.05 i.e, p> α so we accept null hypothesis
#Therefore, all proportions are equal.